section{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(58, 35, 35);
  color: rgb(238, 232, 232);
  box-sizing: border-box;
  overflow: hidden;
}


.dp{
  width: 100%;
  margin: auto;
}
#dp1{
  width: 100%; 
  height: 100%;
  background-color: rgb(70, 37, 37);
}
.dp img{
  padding: 2em;
  width: 100%;
  border-radius: 40%;
  box-sizing: border-box;
}
.about-me{
  margin: auto;
  padding:10rem 0 0 0;
  width: 90%;
  font-size: 20px;
  text-align: justify;
  box-sizing: border-box; 
}

#btndp, #btndp2{
  background-color: rgb(68, 23, 23);
  color: rgb(238, 232, 232);
  border: 1px solid rgb(58, 35, 35);
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 20px;
  margin-right: 1em;
}
.navbar{
  width: 100%;
}
.navbar button{
  width: 90%;
  margin: 5px auto;
  background-color: rgb(68, 23, 23);
  border: 1px solid rgb(68, 23, 23);
  border-radius: 20px;
  font-size: 20px;
  padding: 5px ;
}
.navbar button a, #btndp a, #btndp2 a{
  color: rgb(238, 232, 232);
  text-decoration: none;
  
}
.project-container a{
  color: rgb(47, 236, 88);
  text-decoration: none;
  
}
#form_contact{
  width:70%;
  margin:1rem auto;
  box-sizing: border-box;
  font-size: 20px;
}

#form_contact a{
  text-decoration: none;
  color: #fff;
}
#form_contact h4{
  text-align: center;
  padding: 1rem;
}

.project-container{
  width:70%;
  height: 100vh;
  margin: auto;
  padding-top:3rem;
  text-align: center;
  box-sizing: border-box;
}
.profile{
  width: 90%;
  margin: auto;
  padding:1rem 0;
  font-size: 18px;
  box-sizing: border-box;
}
footer{
  text-align: center;
  padding-top: 5px;
}

@media screen and (max-width:1000px) {
  body{
    height: 100vh;
    background-color: rgb(58, 35, 35);
  }
  
  .dp{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  #dp1{
    width: 100%; 
    height: 100%;
  }
  .dp img{
    padding: 1em;
    width: 70%;
    border-radius: 30%;
    display: none;
  }

  footer{
    display: none;
  }
  #form_contact{
    width: 100%;
    font-size: 16px;
    padding: 0 1rem;
  }
  #form_contact h4{
    padding-top: 0;
  }
  #col2{
    width: 80%;
  }
  .about-me h2, .about-me h4{
    font-size: 20px;
  }
  .project-container{
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  .profile{
    font-size: 16px;
  }
  .about-me{
    height: 100vh;
    margin: auto;
    padding:1rem 0 3rem 0;
    font-size: 16px; 
  }
  .navbar button{
    border-radius: 15px;
    font-size: 16px;
    padding: 3px ;
  }

  #btndp, #btndp2{
    font-size: 16px;
    padding: 3px 15px;
    margin-right: 1em;
  }
}
